<!DOCTYPE html>
<html>
<head>
	<title>{{.title}}</title>
	<link href="/styles/sliding-button.css" rel="stylesheet" type="text/css">
	<link href="/styles/code.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>{{.title}}</h1>
	<div class="code">
	    <div class="code__image">
	    <img src="../images/{{.code.Image}}" alt="{{.code.Name}}">
	    </div>
	<div class="code__info">
		<h3>{{.code.Name}}</h3>
		<div class="code__desk">
		<p>Предмет: {{.code.Subject}}</p>
		</div>
		<div class="code__task">
		<p>Задание: {{.code.Task}}</p>
		</div>
		<div class="code__desc">
		<p>Условиие: {{.code.Description}}</p>
		</div>
		<div class="code__dead">
		<p>Дедлайн: {{.code.Deadline}}</p>
		</div>
		<a href="/?filter=&field=Name">
		<button class="sliding-button">Домой</button>
		</a>
	</div>
	</div>
</body>
</html>